# Binaries
/flow
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output folders
bin/

# Dependency directories
gopath/

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Go modules
vendor/

# BeemFlow runtime
.env
beemflow.db
.beemflow/

# Build artifacts
*.log

# GoReleaser
dist/

# Editor build artifacts
editor/web/node_modules/
editor/web/dist/
editor/web/package-lock.json
editor/wasm/main.wasm
